.accordion {
    --bs-accordion-btn-bg: #ffffff;
    --bs-accordion-active-bg: lightgrey;
    --bs-accordion-active-color: #000000;
    --bs-accordion-bg: white;
    --bs-accordion-color: #000000;
    --bs-accordion-btn-focus-box-shadow: none;
  }

  .c-item {
    height: 600px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
  }

  .c-img-bright {
    filter: brightness(.8);
  }
 
  
 
  